@import "reset.css";

body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f1f3f5;
  padding: 20px;
}

canvas {
  width: 800px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.color-option {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  transition: transform ease-in-out 0.1s;
}

.color-option:hover {
  transform: scale(1.2);
}

canvas {
  border: 1px solid #dee2e6;
}

button {
  all: unset;
  padding: 5px;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  font-weight: 300px;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity linear 0.1s;
}

button:hover {
  opacity: 0.8;
}

#text {
  all: unset;
  padding: 5px 0px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  background-color: white;
}
